<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  

<div class="inline-flex h-[868px] w-[1438px] flex-row flex-col items-start justify-start bg-white px-[19px] py-[18px]">
  <div class="Frame relative h-[832px] w-[1400px] bg-gradient-to-br from-orange-400 to-orange-400">
    <div class="Grid absolute left-[167px] top-[229px] inline-flex w-[1044px] h-[640px] flex-col flex-wrap items-start justify-start border-8 border-black">
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell flex h-[87px] w-[87px] items-center justify-center border border-stone-300 bg-indigo-400">
        <div class="h-[87px] w-[87px] text-center font-['Inter'] text-base font-normal text-white">スタート</div>
      </div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell flex h-[87px] w-[87px] items-center justify-center border border-stone-300 bg-white">
        <div class="Object h-[87px] w-[87px] bg-lime-500"></div>
      </div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell flex h-[87px] w-[87px] items-center justify-center bg-lime-500">
        <div class="Object h-[87px] w-[87px] bg-lime-500"></div>
      </div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] bg-lime-500"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell flex h-[87px] w-[87px] items-center justify-center border border-stone-300 bg-red-700">
        <div class="h-[87px] w-[87px] text-center font-['Inter'] text-base font-normal text-white">ゴール</div>
      </div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="CellIsWall h-[87px] w-[87px] border border-stone-300 bg-gradient-to-br from-neutral-900 to-zinc-600"></div>
      <div class="Cell h-[87px] w-[87px] border border-stone-300 bg-white"></div>
    </div>
    <div class="Man absolute left-[189px] top-[686px] h-11 w-11 rounded-[100px] border-4 border-lime-400 bg-yellow-400"></div>
    <div class="Header absolute left-[583px] top-[42px] inline-flex flex-col items-center justify-start gap-[19px]">
      <div class="00 text-center font-['Inter'] text-[74.67px] font-normal text-white">00:00</div>
      <div class="Count inline-flex items-start justify-start gap-[9px]">
        <div class="text-center font-['Inter'] text-2xl font-normal text-white">移動回数:</div>
        <div class="text-center font-['Inter'] text-2xl font-normal text-white">0</div>
        <div class="text-center font-['Inter'] text-2xl font-normal text-white">回</div>
      </div>
    </div>
    <div class="absolute left-[1124px] top-[68px] text-center font-['Inter'] text-base font-bold text-white">ううう さん</div>
  </div>
</div>

  </body>
</html>